<p>Documentation for a CS major's wrestling with languages, CMS's, and tech culture.</p>
<button type="button" class="btn btn-primary">View My Work</button>
<br>
<h6><img src = 'https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10277289_10152388980537295_211420072398330212_n.png?oh=ced10744c5551eff6f08ecd158c0a4d8&oe=56908C9C&__gda__=1451963379_b364ecaadfe8c405a6b2259bdad7def8'><img src = 'https://danielmedotcom.files.wordpress.com/2013/01/github.png'><img src = 'http://cdn3.blocksassets.com/assets/aopen/aopen/v6eLGoU8zSEnWrA/web.Twitter-50x50.png'></h6>